<% scope ||= nil %>
<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>">
      <%= column.label %>
    </label>
  </dt>
  <dd>
    <%= form_column column, scope %>
    <%= form_column(active_scaffold_config.columns[:price_type], scope) %>
  </dd>
</dl>