menu, ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

menu li {
	padding:5px;
}

#sidebar {
	width: 220px;
	border:1px solid white;
	float:left;
  margin: 0px 20px 0px 10px;
}

#terrains-holder img, #monsters-holder img {
	border: 1px solid white;
	background-color: #EEEEEE;
	width: 50px;
	height: 50px;
}

#grid-holder {
  margin-top: 10px;
  overflow:hidden;
  position:relative;
}

#grid {
	border:1px solid #666;
	overflow:hidden;
	display:none;
}

#grid .ui-selecting {
	border:1px solid #FECA40;
}

#grid .ui-selected {
}

#grid li {
	float:left;
	border:1px solid #666;
	position:relative;
	background-color: #EEEEEE;
}

