$sheet_font_color: #570710;

/* Lightview overrides */
.lv_skin > canvas {
  display:none;
}

.lv_window_mac .lv_button_top_close {
  top: 9px;
}

#race-select-container {
  width: 800px;
  height: 590px;

  * {
    color: #111;
  }

  .race-select-header {
    width:100%;
    height:49px;
    overflow:hidden;
    border-bottom: 1px solid $sheet_font_color;

    h2 {
      font-size:24px;
      float:left;
      font-weight:normal;
      color: $sheet_font_color;
    }

    form {
      float:right;
      margin-top: 20px;
    }
  }

  .race-select-body {
    padding:10px 0px;
    height:480px;
    overflow:hidden;

    .race-photo {
      float:left;
      width:285px;
      border-right: 1px solid $sheet_font_color;
      text-align:center;
    }

    .race-description {
      float:left;
      margin-left:15px;
      width: 480px;
      height:100%;
      padding-right: 15px;
      overflow:auto;

      .race-attributes {
        font-size:13px;
        margin-bottom:10px;

        span {
          font-size:12px;
        }
      }

      h3 {
        margin-top: 0px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      h4 {
        margin-top:20px;
      }
    }
  }

  .race-select-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    .submit {
      color: white;
    }

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#class-select-container {
  width: 1000px;
  height: 600px;

  * {
    color: #111;
  }

  a {
    color: #0088CC;
  }

  .class-select-header {
    width:100%;
    height:49px;
    overflow:hidden;
    border-bottom: 1px solid $sheet_font_color;

    h2 {
      font-size:24px;
      float:left;
      font-weight:normal;
      color: $sheet_font_color;
    }

    form {
      float:right;


      .class-select-form-field {
        margin-bottom:3px;

        select {
          margin-bottom:0px;
        }

        label, input[type=checkbox] {
          float:left
        }

        label {
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
          margin-right: 10px;
        }

        .hint {
          position: relative;
          left: 5px;
        }
      }
    }
  }

  .class-select-body {
    padding:10px 0px;
    height:490px;
    overflow:hidden;

    .class-photo {
      float:left;
      width:285px;
      height:100%;
      border-right: 1px solid $sheet_font_color;
      text-align:center;
    }

    .class-description {
      float:left;
      margin-left:15px;
      width: 680px;
      height:100%;
      padding-right: 15px;
      overflow:auto;

      h3 {
        margin-top: 0px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      h4 {
        margin-top:20px;
      }

      .class-advancement-table {
        td, th {
          max-width:200px;
        }
      }
    }
  }

  .class-select-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    .submit {
      color: white;
    }

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#class-options-container {
  width: 800px;
  height: 600px;

  * {
    color: #111;
  }

  a {
    color: #0088CC;
  }

  .class-options-header {
    width:100%;
    overflow:hidden;
    border-bottom: 1px solid $sheet_font_color;

    h2 {
      margin: 0px;
      line-height: 24px;
      font-size:24px;
      font-weight:normal;
      color: $sheet_font_color;
    }

    h3 {
      font-size:14px;
      font-weight:normal;
      margin: 0px;
      line-height: 24px;
      margin-top: 10px;
    }

  }

  .class-options-body {
    height:500px;

    form {
      padding-top:20px;
      padding-left:10px;

      .class-options-form-field {
        margin-bottom:10px;
        clear:both;

        label {
          font-weight:bold;
          width:200px;
        }

        select {

        }
      }

    }
  }

  .class-options-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    .submit {
      color: white;
    }

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#character-sheet-inner {
  width:1000px;
  height: 600px;

  input[type=text] {
    box-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
  }

  * {
    color: #570710;
  }

  .sheet-header {
    position: relative;

    .sheet-saving-indicator {
      position:absolute;
      top:0px;
      right:0px;
      background: url('ajax-loader.gif') no-repeat;
      padding-left:20px;
      font-size:14px;
      display:none;
    }

    img {
      position:absolute;
      top:0px;
      left:0px;
    }

    .nav-tabs {
      height:75px;

      li {
        float:right;
        position: relative;
        top: 38px;

        a {
          font-size:14px;
          font-weight:bold;
          font-family: Helvetica, Arial;
        }
      }
    }
  }

  .sheet-body {
    .character-basic-info {
      form {
        margin:0px;
      }

      .basic-info-input-container {
        clear:both;
        overflow:hidden;
        margin-bottom:5px;
      }

      .basic-info-input {
        float:left;
        margin-right:20px;
      }

      input[type=text], span {
        border-width:0px;
        border-bottom:1px solid black;
        width:180px;
        display:block;
        font-size:14px;
        font-family: Helvetica, Arial;
        font-weight:normal;
        padding:3px;
        margin-bottom:0px;
      }

      label {
        line-height: 12px;
        font-size: 12px;
        font-style: italic;
        margin-top: 3px;
        color:black;
      }
    }

  }

}

