$sheet_font_color: #570710;

@mixin opacity($val) {
  opacity: $val;
  -moz-opacity: $val;
  -webkit-opacity: $val;
  filter: alpha(opacity=$val*100)
}

/* Lightview overrides */
.lv_skin > canvas {
  display:none;
}

.lv_window_mac .lv_button_top_close {
  top: 9px;
}

#race-select-container {
  width: 800px;
  height: 590px;

  * {
    color: #111;
  }

  .race-select-header {
    width:100%;
    height:49px;
    overflow:hidden;
    border-bottom: 1px solid $sheet_font_color;

    h2 {
      font-size:24px;
      float:left;
      font-weight:normal;
      color: $sheet_font_color;
    }

    form {
      float:right;
      margin-top: 20px;
    }
  }

  .race-select-body {
    padding:10px 0px;
    height:480px;
    overflow:hidden;

    .race-photo {
      float:left;
      width:285px;
      border-right: 1px solid $sheet_font_color;
      text-align:center;
    }

    .race-description {
      float:left;
      margin-left:15px;
      width: 480px;
      height:100%;
      padding-right: 15px;
      overflow:auto;

      .race-attributes {
        font-size:13px;
        margin-bottom:10px;

        span {
          font-size:12px;
        }
      }

      h3 {
        margin-top: 0px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      h4 {
        margin-top:20px;
      }
    }
  }

  .race-select-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    .submit {
      color: white;
    }

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#class-select-container {
  width: 1000px;
  height: 600px;

  * {
    color: #111;
  }

  a {
    color: #0088CC;
  }

  .class-select-header {
    width:100%;
    height:49px;
    overflow:hidden;
    border-bottom: 1px solid $sheet_font_color;

    h2 {
      font-size:24px;
      float:left;
      font-weight:normal;
      color: $sheet_font_color;
    }

    form {
      float:right;


      .class-select-form-field {
        margin-bottom:3px;

        select {
          margin-bottom:0px;
        }

        label, input[type=checkbox] {
          float:left
        }

        label {
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
          margin-right: 10px;
        }

        .hint {
          position: relative;
          left: 5px;
        }
      }
    }
  }

  .class-select-body {
    padding:10px 0px;
    height:490px;
    overflow:hidden;

    .class-photo {
      float:left;
      width:285px;
      height:100%;
      border-right: 1px solid $sheet_font_color;
      text-align:center;
    }

    .class-description {
      float:left;
      margin-left:15px;
      width: 680px;
      height:100%;
      padding-right: 15px;
      overflow:auto;

      h3 {
        margin-top: 0px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      h4 {
        margin-top:20px;
      }

      .class-advancement-table {
        td, th {
          max-width:200px;
        }
      }
    }
  }

  .class-select-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    .submit {
      color: white;
    }

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#attribute-select-container {
  width: 800px;
  height: 480px;


  .disabled {
    @include opacity(0.6);
  }

  * {
    color: #570710;
  }

  a {
    color: #0088CC;
  }

  .btn, input, select {
    color: #111;
  }

  .btn.btn-primary, .btn.btn-success {
    color:white;
  }

  .attribute-select-header {
    width:100%;
    overflow:hidden;
    position: relative;
    border-bottom: 1px solid $sheet_font_color;
    height: 75px;

    h2 {
      margin: 0px;
      line-height: 22px;
      font-size:22px;
      font-weight:normal;
    }

    h3 {
      font-size:13px;
      font-weight:normal;
      margin: 0px;
      line-height: 16px;
      margin-top: 10px;
      color: #111;
      max-width:500px;
    }

    .attribute-point-select {
      position:absolute;
      top:0px;
      right:0px;

      label {
        font-weight:bold;
      }
    }
  }

  .attribute-select-body {
    padding-top:10px;
    position:relative;

    form {
      position:relative;
      width:350px;

      .disable {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 350px;
        height: 400px;
        z-index: 1000;
        @include opacity(0);
      }

      .attribute-form-field {
        padding-top:5px;
        clear:both;
        overflow:hidden;

        label {
          width:160px;
          font-weight:bold;
          font-size:16px;
          float:left;
          position:relative;
          top: 12px;
        }

        input {
          float:left;
          text-align:center;
          font-size:18px;
          width:40px;
          height:40px;
          border-radius:40px;
          -moz-border-radius:40px;
          -webkit-border-radius:40px;
          padding:0px;
          margin-right:10px;
        }

        .buttons {
          position:relative;
          top:8px;
          float:left;
          margin-right:10px;

          button {
            color: white;
            font-weight: bold;
            font-size: 24px;
            line-height: 21px;
            padding-top: 0px;
            padding-left: 8px;
            padding-right: 8px;
          }
        }

        .race-attribute {
          font-size: 22px;
          font-weight: bold;
          color: #111;
          position: relative;
          top: 12px;
          text-align: right;
          width: 25px;
          display: inline-block;
        }
      }
    }

    #attribute-points {
      font-size:18px;
      height:20px;

      strong {
        font-size:inherit;
      }
    }

    #arbitrary-attribute-select-container, #random-button-container {
      position: absolute;
      width: 360px;
      top: 30px;
      right: 20px;

      button {
        color:white;
        margin-left:6px;
        position:relative;
        bottom:5px;
      }
    }
  }

  .attribute-select-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#class-options-container {
  width: 800px;
  height: 600px;

  * {
    color: #570710;
  }

  a {
    color: #0088CC;
  }

  .btn {
    color: #111;
  }

  .btn.btn-primary {
    color:white;
  }

  .class-options-header {
    width:100%;
    overflow:hidden;
    border-bottom: 1px solid $sheet_font_color;

    h2 {
      margin: 0px;
      line-height: 24px;
      font-size:24px;
      font-weight:normal;
    }

    h3 {
      font-size:14px;
      font-weight:normal;
      margin: 0px;
      line-height: 24px;
      margin-top: 10px;
      color: #111;
    }

  }

  .class-options-body {
    height:500px;

    .class-options-form {
      float:left;
      margin-top:10px;
      padding-right:15px;
      border-right:1px solid $sheet_font_color;
      height:480px;
      width:480px;

      form {
        padding-left:10px;

        .class-options-form-field {
          margin-bottom:10px;
          clear:both;

          label {
            font-weight:bold;
            width:200px;
          }

          span.hint {
            font-size:12px;
            font-style: italic;
            clear:right;
          }
        }
      }
    }

    .class-features-description {
      float:left;
      margin-left:15px;

      ul {
        margin-top:15px;
        li {
          font-size:14px;
          font-weight:bold;
          list-style-type: disc;
          margin-top:10px;
          margin-left:25px;
        }
      }
    }
  }

  .class-options-footer {
    border-top:1px solid $sheet_font_color;
    height:20px;
    margin-top:4px;

    .submit {
      color: white;
    }

    button {
      float:right;
      margin-top:10px;
      margin-left:10px;
    }
  }
}

#character-sheet-inner {
  width:1000px;
  height: 600px;

  input[type=text] {
    box-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
  }

  * {
    color: #570710;
  }

  .sheet-header {
    position: relative;

    .sheet-saving-indicator {
      position:absolute;
      top:0px;
      right:0px;
      background: url('ajax-loader.gif') no-repeat;
      padding-left:20px;
      font-size:14px;
      display:none;
    }

    img {
      position:absolute;
      top:0px;
      left:0px;
    }

    .nav-tabs {
      height:75px;

      li {
        float:right;
        position: relative;
        top: 38px;

        a {
          font-size:14px;
          font-weight:bold;
          font-family: Helvetica, Arial;
        }
      }
    }
  }

  .sheet-body {
    .character-basic-info {
      form {
        margin:0px;
      }

      .basic-info-input-container {
        clear:both;
        overflow:hidden;
        margin-bottom:5px;
      }

      .basic-info-input {
        float:left;
        margin-right:20px;
        position:relative;

        &.last {
          margin-right:0px;
        }

        input[type=text], span {
          border-width:0px;
          border-bottom:1px solid black;
          width:187px;
          display:block;
          font-size:14px;
          font-family: Helvetica, Arial;
          font-weight:normal;
          padding:3px;
          margin-bottom:0px;
        }

        &.other {
          input[type=text], span {
            width:100px;
          }

          select {
            width:110px;
          }
        }

        select {
          width:190px;
          position:absolute;
          top:0px;
          left:0px;
          @include opacity(0);
          z-index:1000;
        }

        i {
          position:absolute;
          top: 5px;
          right: 0px;
          font-size: 14px;
          padding: 2px;
          border-radius: 4px;
        }

        &:hover i {
          background-color: $sheet_font_color;
          color:white;
        }

        label {
          line-height: 12px;
          font-size: 12px;
          font-style: italic;
          margin-top: 3px;
          color:black;
          cursor: default;
        }
      }

      .character-basic-info-col {
        float:left;
        margin-right:20px;

        &.last {
          margin-right:0px;
        }
      }

    }

    .sheet-box {
      position:relative;
      border:2px solid $sheet_font_color;
      border-radius:4px;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;

      h4 {
        font-size:16px;
        background-color:white;
        color:#111;
        position:absolute;
        top: -20px;
        left: 13px;
        padding: 0px 3px;
        display: inline-block;
      }

      .plus, .equal, .initial-value {
        display: inline-block;
        color:#111;
        font-weight: bold;
        font-size:18px;
        margin:0px 6px;
        vertical-align: top;
        margin-top: 3px;
      }

      .sheet-box-field-container {
        min-width:30px;
        display:inline-block;

        .sheet-box-field {
          display:block;
          text-align:center;
          font-size:14px;
          line-height:14px;
          font-weight:bold;
          padding:4px;
          border: 1px solid #111;
        }

        &.result .sheet-box-field {
          border-color: $sheet_font_color;
        }

        .sheet-box-field-label {
          display:block;
          font-size:11px;
          line-height:15px;
          color:#111;
          text-align:center;
        }
      }

      .sheet-field {

        label {
          display:inline-block;
          margin-bottom:0px;
          color:#111;
          font-size:16px;
          line-height:16px;
          font-weight:bold;
          vertical-align:top;
          margin-top:4px;
        }
      }

      &.character-classes-box {
        margin-top:5px;
        width:280px;

        table {
          width:100%;
          margin-top:10px;

          th {
            font-size:11px;
            font-weight:normal;
            padding-left:5px;
            color:#111;
          }

          td {
            font-size:14px;
            line-height:14px;
            height:14px;
            padding:4px;
            border-right:2px solid $sheet_font_color;
            border-top:2px solid $sheet_font_color;

            &.character-class-name {
              width:210px;
            }

            &.character-class-levels {
              text-align: center;
            }

            &.character-class-favored {
              border-right-width:0px;
              text-align: center;
            }
          }
        }
      }

      &.ability-score-box {
        margin-top:15px;
        width:280px;

        .header {
          font-size:10px;
          position:absolute;
          top:8px;
          color:#111;

          &.ability-score-header{
            left:170px;
          }

          &.ability-modifier-header{
            left:217px;
          }
        }

        ul {
          margin-top: 30px;
          padding-left:10px;

          li {
            margin-bottom: 6px;

            .ability-score-label{
              display:inline-block;
              width:150px;
              height:12px;
              border-radius:4px;
              -moz-border-radius:4px;
              -webkit-border-radius:4px;
              background-color:#CCC;
              position:relative;

              label {
                position:absolute;
                top:-12px;
                left:0px;
                border-radius:4px;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;
                font-size:16px;
                line-height:16px;
                text-transform: uppercase;
                font-weight:bold;
                padding:4px;
                background-color:#CCC;
                color:#111;;
              }
            }

            .ability-score {
              font-size: 18px;
              line-height: 18px;
              padding:6px;
              padding-right:8px;
              padding-bottom:4px;
              font-weight: bold;
              border: 2px solid $sheet_font_color;
              width: 20px;
              height: 20px;
              border-radius: 20px;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
              text-align:center;
              display: inline-block;
              background-color:#EEE;
              margin-left:6px;
              position:relative;
              bottom:5px;
            }

            .ability-modifier {
              display: inline-block;
              width: 20px;
              text-align: right;
              font-size: 18px;
              font-weight: bold;
              color: #111;
              border: 2px solid $sheet_font_color;
              padding: 4px 16px;
              position: relative;
              bottom: 5px;
              left: -14px;
              z-index: -10;
            }
          }
        }
      }

      &.hit_points-box {
        margin-top:5px;
        padding:8px;
        width:154px;

        .sheet-field {
          height:16px;

          label {
            margin-top:2px;
            margin-right:10px;
          }

          span {
            font-size:16px;
            font-weight:bold;
          }
        }
      }

      &.initiative-box {
        margin-top:25px;
        width:170px;

        .initiative-sum {
          margin:15px 10px 5px 10px;
        }
      }

      &.attacks-box {
        margin-top:5px;
        padding:8px;
        padding-bottom:0px;
        width: 480px;

        .bba-field {
          height:16px;
          margin-bottom:17px;

          span {
            font-size:16px;
            font-weight:bold;
          }

          label {
            margin-top:2px;
            margin-right:10px;
          }
        }
      }

      &.defenses-box {
        position:relative;
        top:20px;
        padding:15px;
        padding-bottom:5px;
        clear:both;
        width:660px;

        .initial-value {
          margin-top:3px;
        }

        label {
          font-size:18px;
        }

        .other_armor_class-fields {
          margin-top:5px;
          margin-bottom:14px;

          .sheet-box-field-container {
            margin-right:30px;
          }
        }

        .saving-throw-field {
          label {
            width:80px;
          }
        }
      }

    }
  }

}

