<div id="footer">
  <span class="esquerda">
    <b><%= t(:contact) %>:</b> <%= link_to "pedro.henrique.108@gmail.com", "mailto:pedro.henrique.108@gmail.com" %>
  </span>
  <span class="direita">
    <%= link_to 'http://www.paizo.com', :target => '_blank' do %>
      <%= image_tag 'paizo-logo.gif', :border => 0 %>
    <% end %>
  </span>
</div>